<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <!-- Include necessary CSS and JavaScript for DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../js/home.js"></script>
    <title>Family Day Out Ideas</title>
</head>
<body>
    <div class="container">
        <h1>Family Day Out Ideas</h1>
        <table id="dayout-table" class="display">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Type</th>
                    <th>Cost (£)</th>
                    <th>Rainy Day</th>
                    <th>Dog Friendly</th>
                    <th>Travel (min.)</th>
                    <th>Visited</th>
                </tr>
            </thead>
            <tbody>
                {% for day_out in day_out_list %}
                    <tr>
                        <td>{{ day_out.id }}</td>
                        <td>{{ day_out.type }}</td>
                        <td>{{ day_out.cost }}</td>
                        <td>{{ day_out.rain }}</td>
                        <td>{{ day_out.dog }}</td>
                        <td>{{ day_out.time }}</td>
                        <td>{% if day_out.visited == false %}
                                <a class="status gray-button" href="/update/{{ day_out.id }}">Not Visited</a>
                            {% else %}
                                <a class="status green-button" href="/update/{{ day_out.id }}">Visited</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#dayout-table').DataTable({
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
            });
            
        });



    </script>

</body>
</html>
